.multiselect__container {
    align-items: center;
    background-color: #fff;
    border: 1px solid #8c8f94;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 36px;
    padding: 0;
    position: relative;
    width: 100%;
    max-width: 560px;
    vertical-align: middle;
}

.multiselect__container > * {
    color: #3c434a;
    font-size: 14px;
}

.multiselect__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 34px;
    width: 100%;
    padding: 4px 10px;
    box-sizing: border-box;
}

.multiselect__clear-btn {
    cursor: pointer;
    align-items: center;
    margin-left: 4px;
}

.multiselect__clear-btn svg {
    height: 20px;
    width: 20px;
}

.multiselect__options {
    background-color: #f6f6f6;
    border: 1px solid #8c8f94;
    border-radius: 4px;
    left: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: calc(100% + 3px);
    z-index: 9999;
    width: 100%;
    opacity: 0;
    transition: max-height 0.1s ease;
}

.multiselect__options.visible {
    max-height: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: max-height 0.2s ease;
}

.multiselect__options ul {
    list-style: none;
    margin: 0;
    padding: 2px 0;
    max-height: 200px;
    overflow: auto;
}

.multiselect__options ul li {
    cursor: pointer;
    padding: 4px 8px;
}

.multiselect__options ul li * {
    pointer-events: none;
}

.multiselect__options ul p.multiselect__options--no-results, 
.multiselect__options ul p.multiselect__options--no-data {
    margin: 0;
    padding: 8px;
    text-align: center;
}

.multiselect__options ul li.multiselect__options--selected {
    background-color: #2271b1;
    color: #fff;
}

.multiselect__options ul li.multiselect__options--selected:hover {
    background-color: #135e96;
}

.multiselect__options ul li:hover {
    background-color: #dedede;
}

.multiselect__options ul li.arrow-selected {
    border: 2px solid rgba(101, 101, 101, 0.5);
}

.multiselect__selected {
    background-color: #2271b1;
    border-radius: 2px;
    color: #fff;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
}

.multiselect__selected .multiselect__remove-btn {
    cursor: pointer;
    display: flex;
    margin-left: 6px;
}

.multiselect__selected .multiselect__remove-btn svg {
    height: 16px;
    width: 16px;
}

.multiselect__input {
    border: none;
    flex-basis: 40px;
    flex-grow: 1;
    height: 26px;
    line-height: 26px;
    min-width: 40px;
    outline: none;
    background: transparent;
    color: #3c434a;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.multiselect__input::placeholder {
    color: #3c434a;
}
